*,*::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    line-height: 150%;
    color:#333333;
}
header, footer{
    text-align: center;
    padding: 1rem;
}
h1, h2, h3{
    text-decoration: underline;
}
#container{
    width: 64rem;
    margin: 0 auto;
}
#container{
    border: .3rem solid #333333;
}
.clearfix::after{
    content: "";
    display:block;
    clear:both;
}
.section1{
    width:28%;
    float:left;
    padding: .5rem;
    margin: .5rem;
    border: .3rem solid #333333;
}
.section1 ul{
    margin-top: 20rem;
}
.section2{
    width: 68%;
    float: right;
    padding: .5rem;
    margin: .5rem;
    border: .3rem solid #333333;
}
